/*variables*/
$primary:       #000066;
$secondary:     #fff;

@import "../node_modules/bootstrap/scss/bootstrap";

#go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: $secondary;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        color: rgb(97, 90, 90);
    }
}

#main {
    width: 45rem;
    height: 35rem;
}

#menu { background-color: #000066;

    border: 1px solid red;
}