<!-- <section id="features">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Características</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon text-center mb-5">
          <i class="fa-solid fa-chart-simple fa-2x fa-beat-fade"></i>
        </div>
        <h3 class="mb-4">Accesible y Práctica</h3>
        <p>
          Diseñada para ser una herramienta fácil de usar, permitiendo a las
          PYMEs desarrollar estrategias sin necesidad de consultorías costosas.
        </p>
      </div>
      <div class="feature col">
        <div class="feature-icon text-center mb-5">
          <i class="fa-solid fa-clock fa-2x fa-beat-fade"></i>
        </div>
        <h3 class="mb-4">Enfoque Colaborativo</h3>
        <p>
          Fomenta la participación activa de los empresarios en el proceso de
          creación de estrategias, asegurando que se adapten a las necesidades
          específicas del negocio.
        </p>
      </div>
      <div class="feature col">
        <div class="feature-icon text-center mb-5">
          <i class="fa-solid fa-sack-dollar fa-2x fa-beat-fade"></i>
        </div>
        <h3 class="mb-4">Adaptabilidad</h3>
        <p>
          Utiliza herramientas reconocidas en el campo de la estrategia,
          permitiendo a las empresas adaptarse rápidamente a los cambios del
          entorno competitivo.
        </p>
      </div>
    </div>
  </div>
</section> -->
<section id="features" class="container py-5">
  <div class="row align-items-center py-4">
    <div class="col-sm-12 col-md-6 mb-4 mb-md-0">
      <h2 class="pb-2 border-bottom">Características</h2>
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-info d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Accesible y Práctica</div>
            Diseñada para ser una herramienta fácil de usar, permitiendo a las
            PYMEs desarrollar estrategias sin necesidad de consultorías
            costosas.
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Enfoque Colaborativo</div>
            Fomenta la participación activa de los empresarios en el proceso de
            creación de estrategias, asegurando que se adapten a las necesidades
            específicas del negocio.
          </div>
        </li>
        <li
          class="list-group-item list-group-item-info d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Adaptabilidad</div>
            Utiliza herramientas reconocidas en el campo de la estrategia,
            permitiendo a las empresas adaptarse rápidamente a los cambios del
            entorno competitivo.
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <img [src]="featuresImgURL" alt="Introducción a Estramipyme" class="img-fluid rounded">
    </div>
  </div>
</section>
