<section id="testimonials">
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">Testimonios</h2>
      <div class="row row-cols-1 row-cols-md-4 mb-3 text-center py-5 mt-5 mx-5">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="./assets/images/testimonio1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mabeka</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="./assets/images/testimonio2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Carpinteria de Jaime</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="./assets/images/testimonio3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tienda de don Juan</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="./assets/images/testimonio4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fundacion ninos felices</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>