
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    
    li {
      margin-inline: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

#features {
  border: 2px solid green;
  .container {
    display: flex;
    justify-content: space-evenly;
    .container-column {
      width: 50%; 
      ul {
        list-style: none;
        li {
          padding: 1rem;
          margin: 1rem;
          border: 1px solid black;
        }
      }
    }
  }
}

section {
  height: 60vh;
  padding: 1rem;
}

#testimonials {
  .container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    .container-column {
      height: 5rem;
      width: 30%;
      border: 1px solid black;
    }
  }
}

a.btn {
  text-decoration: none;
  padding: 1rem;
  background-color: #20b2aa;
  color: white;
  border-radius: 5px;
}

a.btn:hover {
  cursor: pointer;
  background-color: #1a8a84;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
}